<h1>My Song</h1>
My Song name: <%= @song.name %><br>
My Artist <%= (link_to @song.artist.name, artist_path(@song.artist)) if @song.artist %><br>
My Genre <%= (link_to @song.genre.name, genre_path(@song.genre)) if @song.genre %>